.crypto-navbar .searchbar{
    border-radius: 50px;
}
.crypto-navbar .search-icon {
    font-size: 30px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 20
}
.crypto-navbar .searchbar input, 
.crypto-navbar .searchbar input:focus{
    outline: none;
}
.crypto-navbar .close-button{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
}
.crypto-navbar .close-button:hover{
    background-color: rgb(120, 120, 120, 0.3);
}
.crypto-navbar .grid-icon {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}
.crypto-navbar .grid-icon, 
.crypto-navbar .table-icon{
    font-size: 27px;
}