.card{
    position: relative;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.card.border{
    border: 1px solid rgb(139, 139, 139, 0.5) !important;
}
.card .card-title{
    margin-bottom: 15px;
}
.card .card-text{
    margin-bottom: 7px;
}
.card .btn{
    margin-top: 10px;
}
.card .symbol{
    position: absolute;
    right: 15px;
    top: 15px;
}
@media screen and (max-width: 380px){
    .card .card-title .name{
        font-size: 19px;
    }
    .card .card-text{
        font-size: 15px;
    }
}